<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 添加媒体文件访问声明 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application>
        <activity
            android:name=".MediaSelectorActivity"
            android:theme="@style/Theme.MediaSelector"
            android:exported="false"
            android:requestLegacyExternalStorage="true" />
            
        <activity
            android:name=".MediaPreviewActivity"
            android:theme="@style/Theme.MediaSelector"
            android:exported="false"
            android:screenOrientation="unspecified" />
            

    </application>
</manifest>